<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Farmer's Friend</title>
    {% block head %} {% endblock head %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <style>
        ul {
            width: 75%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
        
        nav {
            position: fixed;
            background-color: #215a32;
            align-items: center;
            width: 100%;
            height: 9%;
            font-size: medium;
            padding-inline: 20rem;
            border-bottom: 1px solid rgba(240, 240, 240, 0.8);
            z-index: 100;
        }
        
        .navbar-header {
            font-weight: bolder;
            font-family: cursive;
        }
        
        .a {
            color: #ffffff;
            font-style: none;
        }
        
        nav ul a:hover {
            color: #ffdc74;
        }
    </style>
</head>


<body>

    <nav class="navbar navbar-expand-lg sticky-top">


        <div class="navbar-header">

            <h3 class="something a">Farmer's Friend</h3>

        </div>
        <button class="navbar-toggler btn btn-warning" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>


        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                <li class="nav-item">
                    <a class="nav-link a" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="{% url 'farm_ed' %}">Farmers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="{% url 'weather_forecast' %}">Weather Forecast</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="{% url 'scientific_labs' %}">Scientific Laboratory </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="{% url 'market' %}">Markets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="{% url 'video_gallery' %}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="{% url 'team' %}">Team</a>
                </li>

            </ul>
        </div>


        </div>
    </nav>

{% comment %} {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    {% endfor %}

{% endif %} {% endcomment %}


    {% block body %}{% endblock body %}

    <!-- Footer Start -->
    <div class="footer">
        <h3>Farmer's Friend</h3>
        <p>Web portal to help Farmers</p>
        <a class="email" href="#">farmersfriend@gmail.com</a>

        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy;2021 <a href="#">Farmer's Friend</a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Made with &#10084; by <a href="{% url 'team' %}">Team</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <script src="{% static 'user_sys/js/base.js' %}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>