{% extends 'user_sys/base.html' %}{% load static %} {% block title %}Farm Education{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'user_sys/css/base.css' %}"> {% endblock head %} {% block body %}



<div class="container-fluid tag1" style="padding-top : 30px; ">
    <div class="container">
    <h2 class="m-0">Farm-Ed Services</h2>
</div>
    <div class="row">
        <div class="col-md-3 tag2">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top" src="/static/user_sys/images/NewTech.jpeg" alt="Card image cap" height="190px" width="875px">
                <div class="card-body">
                    <h5 class="card-title tag">Advanced Technology</h5>
                    <p class="card-text tag">Show New Technology</p>
                    <a href="/newtech" class="btn btn-success">Click Here!</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 tag2">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top" src="/static/user_sys/images/Irrigation.jpeg" alt="Card image cap" height="190px" width="875px">
                <div class="card-body">
                    <h5 class="card-title tag">Irrigation</h5>
                    <p class="card-text tag">Description baki</p>
                    <a href="/irrigation" class="btn btn-success">Click Here!</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 tag2">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top" src="/static/user_sys/images/QueryForm.jpeg" alt="Card image cap" height="190px" width="875px">
                <div class="card-body">
                    <h5 class="card-title tag">Query Form</h5>
                    <p class="card-text tag">Description baki</p>
                    <a href="/queryform" class="btn btn-success">Click Here!</a>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-4  tag2">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top" src="/static/user_sys/images/VideoBar.jpeg" alt="Card image cap" height="190px" width="875px">
                <div class="card-body">
                    <h5 class="card-title tag">Video Bar</h5>
                    <p class="card-text tag">Description baki</p>
                    <a href="/videobar" class="btn btn-success ">Click Here!</a>
                </div>
            </div>
        </div> -->

        <div class="col-md-3  tag2">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top" src="/static/user_sys/images/Product.jpeg" alt="Card image cap" height="190px" width="875px">
                <div class="card-body">
                    <h5 class="card-title tag">Product & Equipments</h5>
                    <p class="card-text tag">Description baki</p>
                    <a href="/product" class="btn btn-success">Click Here!</a>
                </div>
            </div>
        </div>
        <style>
            h2 {
                    text-align: center;
                    color: #063a14;
                    padding-top: 15px;
                }

            .tag1 {
                background-color: #9fcab1f2;
            }
            
            .tag {
                color: black
            }
            
            .tag2 {
                justify-content: space-evenly;
                margin-bottom: 150px;
                margin-top: 100px;
            }
        </style>
    </div>


</div>
{% endblock body %}