{% extends 'user_sys/base.html' %} {% load static %} {% block title %}Home Page{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'user_sys/css/base.css' %}"> {% endblock head %}{% block body %} {% load static %}
<!-- Swiper -->
<div class="swiper-container">

    <!--Swiper-->
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="image img1" style="background-image: url('{% static 'user_sys/images/img5.jpg' %}');">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="image img2" style="background-image: url('{% static 'user_sys/images/img4.jpg' %}');">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img3" style="background-image: url('{% static 'user_sys/images/img1.jpg' %}');">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img4" style="background-image: url('{% static 'user_sys/images/img2.jpg' %}');">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img5" style="background-image: url('{% static 'user_sys/images/img3.jpg' %}');">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>
    </div>

   

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>




{% endblock body %}