{% extends 'user_sys/base.html' %} 
{% block title %}Home Page{% endblock title %}

{% block body %}
{% load static %}
<!-- Swiper -->
<div class="swiper-container">

    <!--Swiper-->
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="image img1">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="image img2">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img3">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img4">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img5">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img6">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img7">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img8">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img9">
                <div class="content-container">
                    <div class="section-title">
                        <h1>Lorem ipsum dolor sit amet.</h1>
                    </div>
                    <div class="section-sub-title">
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odio quas quae ipsa quo fuga.
                    </div>
                </div>
            </div>
        </div>


    </div>


    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<div class="contact-links" id="contact-links">
    <div class="phone">
        <a href="tel:+91 0123456789"><img src="images/icons8-phone.svg" height="30px"></a>
    </div>
    <div class="message">
        <a href="sms: +91 0123456789"><img src="images/icons8-comments.svg" height="30px"></a>
    </div>
    <div class="email">
        <a href="mailto:email@gmail.com"><img src="images/icons8-mail.svg" height="30px"></a>
    </div>
    <div class="whatsapp">
        <a href="https://wa.me/0123456789"><img src="images/icons8-whatsapp.svg" height="30px"></a>
    </div>
</div>

<div class="Contact-button">
    <img src="images/icons8-phone.svg" height="30px" id="phone-image">
</div>
{% endblock body %}