{% extends 'user_sys/base.html' %} {% load static %} {% block title %}Home{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'user_sys/css/base.css' %}"> {% endblock head %}{% block body %} {% load static %}
<!-- Swiper -->
<div class="swiper-container">

    <!--Swiper-->
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="image img1" style="background-image: url('{% static 'user_sys/images/img5.jpg' %}');">
                <div class="content-container">
                    <div class="section-title">
                        <h1>“Farming looks mighty easy when your plow is a pencil, and you’re a thousand miles from the corn field.” </h1>
                    </div>
                    <div class="section-sub-title">
                        President Dwight D. Eisenhower
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="image img2" style="background-image: url('{% static 'user_sys/images/img4.jpg' %}');">
                <div class="content-container">
                    <div class="section-title">
                        <h1>“No race can prosper until it learns there is as much dignity in tilling a field as in writing a poem.” </h1>
                    </div>
                    <div class="section-sub-title">
                        Booker T. Washington
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img3" style="background-image: url('{% static 'user_sys/images/img1.jpg' %}');">
                <div class="content-container">
                    <div class="section-title">
                        <h1>“Agriculture is our wisest pursuit, because it will in the end contribute most to real wealth, good morals, and happiness.” </h1>
                    </div>
                    <div class="section-sub-title">
                        Thomas Jefferson
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img4" style="background-image: url('{% static 'user_sys/images/img2.jpg' %}');">
                <div class="content-container">
                    <div class="section-title">
                        <h1>“Farming is a profession of hope.” </h1>
                    </div>
                    <div class="section-sub-title">
                        Brett Brian
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="image img5" style="background-image: url('{% static 'user_sys/images/img3.jpg' %}');">
                <div class="content-container">
                    <div class="section-title">
                        <h1>“The farmer has to be an optimist or he wouldn’t still be a farmer.” </h1>
                    </div>
                    <div class="section-sub-title">
                        Will Rogers
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<div class="about" id="about">
    <div class="container">
        <h1>About Us</h1>
        <div class="row">
            <div class="col-md-12 col-12">
                <p>When compared to the Land area under agriculture and the percentage of population engaged in this sector, the productivity of the agricultural sector is quite low. Apart from the yield, various factors like weather patterns, usage of fertilizers/pesticides
                    and soil conditions also play an important role in production but these are often misinterpreted or remain unknown amongst the farmers owing to lack of information.</p>
                <p>To provide timely, relevant & reliable information of major agricultural commodities to the farmers; for helping them in taking better decisions & maximizing farm income to achieve sustainability. To be a pioneer in the dissemination of
                    information for benefit of the farmers & to be their friend at every stage of their cultivation.</p>
            </div>
        </div>

        <div class="row counters">
            <div class="col-3">
                <i class="fa fa-user"></i>
                <div class="counters-text">
                    <h2 data-toggle="counter-up">100</h2>
                    <p>Experts</p>
                </div>
            </div>
            <div class="col-3">
                <i class="fa fa-users"></i>
                <div class="counters-text">
                    <h2 data-toggle="counter-up">200</h2>
                    <p>Farmers</p>
                </div>
            </div>
            <div class="col-3">
                <i class="fa fa-check"></i>
                <div class="counters-text">
                    <h2 data-toggle="counter-up">50</h2>
                    <p>Query Solved</p>
                </div>
            </div>


            <div class="col-3">
                <i class="fa fa-running"></i>
                <div class="counters-text">
                    <h2 data-toggle="counter-up">20</h2>
                    <p>Help Created</p>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        loop: true,
        speed: 1000,
        direction: 'horizontal',
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        },
        pagination: {
            el: '.swiper-pagination',
        },
        autoplay: {
            delay: 5000,
        },
    });
</script>



{% endblock body %}