{% extends 'user_sys/base.html' %}{% load static %} {% block title %}New Technology| Farm Education{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'user_sys/css/base.css' %}"> {% endblock head %} {%block body %}
<div class="tech">
    <h2>New Advance technologies</h2>
    <div class="card tag3">
        <img src="/static/user_sys/images/verticle.jpeg" class="card-img-top" height="350px" width="700px">
        <div class="card-body">
            <h5 class="card-title">Indoor Vertical Farming</h5>
            <p class="card-text">
                Indoor vertical farming can be defined as the practice of growing produce stacked one above another in a closed and controlled environment. By using growing shelves mounted vertically, it significantly reduces the amount of land space needed to grow plants
                compared to traditional farming methods.


            </p>
            <a href="https://www.plugandplaytechcenter.com/resources/indoor-vertical-farming-new-era-agriculture/#:~:text=Indoor%20vertical%20farming%20can%20be%20defined%20as%20the,to%20grow%20plants%20compared%20to%20traditional%20farming%20methods." class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="card tag3">
        <div class="card-body">
            <h5 class="card-title">Modern Green Houses</h5>
            <p class="card-text">Modern greenhouses are much taller than traditional styles, allowing natural ventilation to work more effectively, thus reducing energy costs. The Dutch style glass house, for example, can have 20-foot sidewalls and be gutter connected over
                a several acre area. These greenhouses are environmentally friendly, because they use glass, a lifetime material. Glass also provides the most sunlight transmission into the greenhouse.</p>
            <a href="https://www.growersreit.com/portfolio/modern-growing-greenhouses/" class="btn btn-primary">Read More</a>
        </div>
        <img class="col-sm-6" src="/static/user_sys/images/greenhouse.jpeg" alt="sans" height="400px" width="550px">
    </div>


    <div class="card tag3">
        <img src="/static/user_sys/images/blockchain.jpeg" class="card-img-top" height="350px" width="1000px">
        <div class="card-body">
            <h5 class="card-title">Block Chain</h5>
            <p class="card-text">
                Blockchain used to resolve important issues, including food traceability, supply chain inefficiency, safety recalls, and food fraud in the food system. It creates a market for premium products with verification and transparency. This verifies transactions
                that are securely shared with every seller or not. It helps in creating transparency in the marketplace and food supply.

            </p>
            <a href="https://blockchainusa.com/industries/blockchain-agriculture" class="btn btn-primary">Read More</a>
        </div>
    </div>
    <div class="card tag3">
        <div class="card-body">
            <h5 class="card-title">Live Stock Farming Technology</h5>
            <p class="card-text">The traditional livestock industry is a sector that is widely overlooked and under-serviced, although it is arguably the most vital. Livestock provides much needed renewable, natural resources that we rely on every day. Livestock management
                has traditionally been known as running the business of poultry farms, dairy farms, cattle ranches, or other livestock-related agribusinesses. Livestock managers must keep accurate financial records, supervise workers, and ensure proper
                care and feeding of animals. </p>
            <a href="https://www.plugandplaytechcenter.com/resources/new-agriculture-technology-modern-farming/#:~:text=New%20Agriculture%20Technology%20in%20Modern%20Farming%201%20Indoor,...%206%20Blockchain.%20...%207%20Artificial%20Intelligence.%20" class="btn btn-primary">Read More</a>
        </div>
        <img class="col-sm-6" src="/static/user_sys/images/livestock.jpeg" alt="sans" height="400px" width="550px">
    </div>

    <div class="card tag3">
        <img src="/static/user_sys/images/precision.jpeg" class="card-img-top" height="350px" width="1000px">
        <div class="card-body">
            <h5 class="card-title">Precision Agriculture</h5>
            <p class="card-text">
                Agriculture is undergoing an evolution - technology is becoming an indispensable part of every commercial farm. New precision agriculture companies are developing technologies that allow farmers to maximize yields by controlling every variable of crop
                farming such as moisture levels, pest stress, soil conditions, and micro-climates. By providing more accurate techniques for planting and growing crops, precision agriculture enables farmers to increase efficiency and manage costs.


            </p>
            <a href="https://www.plugandplaytechcenter.com/resources/new-agriculture-technology-modern-farming/#:~:text=New%20Agriculture%20Technology%20in%20Modern%20Farming%201%20Indoor,...%206%20Blockchain.%20...%207%20Artificial%20Intelligence.%20
          " class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>

<style>
    .tech h2 {
        text-align: center;
        padding: 20px 0px;
        color: #215a32;
    }
    
    .card {
        flex-direction: row;
        align-items: center;
    }
    
    .card-title {
        font-weight: bold;
    }
    
    .card img {
        width: 30%;
        border-top-right-radius: 0;
        border-bottom-left-radius: calc(0.25rem - 1px);
    }
    
    @media only screen and (max-width: 768px) {
        a {
            display: none;
        }
        .card-body {
            padding: 0.5em 1.2em;
        }
        .card-body .card-text {
            margin: 0;
        }
        .card img {
            width: 50%;
        }
    }
    
    @media only screen and (max-width: 1200px) {
        .card img {
            width: 40%;
        }
    }
    
    .tag3 {
        padding: 30px;
    }
    
    .tag4 {
        background-color: blueviolet;
        color: black;
    }
</style>
{%endblock body %}