{% extends 'user_sys/base.html' %} {% load static %} {% block title %}Scientific Laboratories{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'user_sys/css/base.css' %}"> {% endblock head %} {% block body %}
<div class="container p-4" style="margin-left:25%">

    <form class="p-3" style="border: 5px solid; width:70%;">
        <h1 text-align=center>Laboratory Test Booking</h1>
        <hr>
        <div class="form-group">
            <label for="inputMobileNumber"><strong>Mobile Number</strong></label>
            <input type="tel" class="form-control" id="inputMobileNumber" aria-describedby="MobileNumber" placeholder="Enter Mobile Number" pattern="[0-9]{10}">
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1"><strong>Email address</strong></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>



        <div class="form-group">
            <label for="addressField"><strong>Address</strong></label>
            <input type="text" class="form-control" id="addressField" placeholder="Address">
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="addressField"><strong>City</strong></label>
                    <select type="text" class="form-control" id="cityField">
    <option>Choose Your City</option>
    <option>Ahmedabad</option>
    <option>Anand</option>
    <option>Amreli</option>
    <option>Banaskantha</option>
    <option>Bharuch</option>
    <option>Bhavnagar</option>
    <option>Botad</option>
    <option>Bhuj</option>
    <option>Chhota Udaipur</option>
    <option>Dahod</option>
    <option>Dang</option>
    <option>Gandhinagar</option>
    <option>Gir Somnath</option>
    <option>Jamnagar</option>
    <option>Junagadh</option>
    <option>Kutch</option>
    <option>Mehsana</option>
    <option>Morbi</option>
    <option>Narmada</option>
    <option>Navsari</option>
    <option>Patan</option>
    <option>Porbandar</option>
    <option>Rajkot</option>
    <option>Sabarkantha</option>
    <option>Surat</option>
    <option>Surendranagar</option>
    <option>Tapi</option>
    <option>Valsad</option>
    <option>Vapi</option>
    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="addressField"><strong>State</strong></label>
                    <select type="text" class="form-control" id="stateField">
    <option>Choose Your State</option>
    <option>Gujarat</option>
    <option>Rajasthan</option>
    <option>Maharahstra</option>
    <option>Punjab</option>
    <option>Madhya Pradesh</option>
    <option>Haryana</option>
    <option>Uttar Pradesh</option>
    <option>Bihar</option>
    <option>Himachal Pradesh</option>
    </select>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1"><strong>Last Crop Sown</strong></label>
            <input type="text" class="form-control" id="lastCropSown" aria-describedby="emailHelp" placeholder="Which was the last crop that you undertook?">
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputPassword1"><strong>Soil Type</strong></label>
                    <select class="form-control">
  <option>Choose Your Soil Type</option>
  <option>Black Soil</option>
  <option>Red/Yellow Soil</option>
  <option>Aluvial Soil</option>
  <option>Laterite Soil</option>
  <option>Arid Soil</option>
  <option>Saline Soil</option>
  <option>Peaty Soil</option>
  <option>Forest Soil</option>
  <option>I don't know</option>
</select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="exampleInputPassword1"><strong>Category of Last Sown Crop</strong></label>
                    <select class="form-control">
  <option>Select the Category</option>
  <option>Kharif</option>
  <option>Rabi</option>
  <option>Zaid</option>
  </select>
                </div>
            </div>
        </div>


        <div class="form-check p-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I understand and agree to all the Terms and Conditions of this test. <a href="">Click here to know more</a> </label>
        </div>
        <button type="submit" class="btn btn-success text-white">Submit</button>
    </form>
</div>
{% endblock body %}