{% extends 'user_sys/base.html' %} {% load static %} {% block title %}Scientific Laboratories{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'user_sys/css/base.css' %}"> {% endblock head %} 
{% block body %}

<div class="container-fluid tag1" style="padding-top : 30px; ">
    <div class="container">
    <h2 class="m-0">Laboratory Services</h2>
</div>
<div class="container-fluid" style="margin-left: 20%;">
    <div class="row m-60">
        <div class="col-md-3 tag2" style="margin-right: 10%;" >
            <div class="card" style="width: 23rem; ">
                <img class="card-img-top" src="/static/user_sys/images/lab.jpg" alt="Card image cap" height="190px" width="875px">
                <div class="card-body">
                    <h5 class="card-title tag">Laboratory Test Booking</h5>
                    <p class="card-text tag">Get your soil Tested and Increase your yield. Schedule your lab Test now!</p>
                    <a href="{% url 'labBookingForm' %}" class="btn btn-success">Click Here!</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 tag2" >
            <div class="card" style="width: 23rem; ">
                <img class="card-img-top" src="/static/user_sys/images/FAQ.jpeg" alt="Card image cap" height="190px" width="875px">
                <div class="card-body">
                    <h5 class="card-title tag">FAQ</h5>
                    <p class="card-text tag">Got any questions? You might find your Answers in here!</p>
                    <a href="{% url 'faq' %}" class="btn btn-success">Click Here!</a>
                </div>
            </div>
        </div>

</div>
</div>
</div>


        <style>
            h2 {
                    text-align: center;
                    color: #063a14;
                    padding-top: 15px;
                }

            .tag1 {
                background-color: #9fcab1f2;
            }
            
            .tag {
                color: black
            }
            
            .tag2 {
                justify-content: space-evenly;
                margin-bottom: 150px;
                margin-top: 75px;
            }
        </style>
    </div>


</div>




{% endblock body %}
