{% extends 'user_sys/base.html' %} {% load static %} {% block title %}Weather Forecast{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'user_sys/css/base.css' %}"> {% endblock head %} {% block body %}
<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header">
            <h2>Team</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'user_sys/images/harsh.jpg' %}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Harsh Patel</h2>
                        <p>2019-2023 (CSE)</p>
                        <p>Software Engineer At Holla</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'user_sys/images/nirav.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Nirav Karavadra</h2>
                        <p>AU1940184</p>
                        <p>B.tech CSE</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'user_sys/images/HarshModi.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Harsh Modi</h2>
                        <p>AU1940186</p>
                        <p>B.tech CSE</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'user_sys/images/udit.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Udit Kapadia</h2>
                        <p> AU1940214</p>
                        <p>B.tech CSE</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'user_sys/images/hrutika.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Hrutika Patel</h2>
                        <p>AU1940182</p>
                        <p>B.tech CSE</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'user_sys/images/mansi.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Mansi Savaj</h2>
                        <p>AU194158</p>
                        <p>B.tech CSE</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'user_sys/images/san.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Sanskruti Shingala</h2>
                        <p>AU1940124</p>
                        <p>B.tech CSE</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'user_sys/images/krinal.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Krinal Boghani</h2>
                        <p>AU1940195</p>
                        <p>B.tech CSE</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">


            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'user_sys/images/priya.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Priya Bhoraniya</h2>
                        <p>AU</p>
                        <p>B.tech CSE</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'user_sys/images/pj.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Param Naik</h2>
                        <p>AU1940254</p>
                        <p>B.tech Chemical</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">


            </div>
        </div>
    </div>
</div>
</div>
<!-- Team End -->
{% endblock body %}